@charset "UTF-8";
body {
  color: #3e4451;
}

.button {
  min-width: 150px;
  padding: 15px 10px;
  border: 0;
  font-size: 12px;
  font-weight: bold;
  outline: none;
  color: #fff;
  background: #3498db;
  border-radius: 5px;
  text-transform: uppercase;
}
.button:focus, .button:active {
  background: #3498db;
  border: 0;
  outline: none;
}
.button.sub {
  background: #fe4300;
}
.button.sub:focus, .button.sub:active {
  background: #fe4300;
  border: 0;
  outline: none;
}
.button + button {
  margin-left: 10px;
}
.button.block {
  display: block;
  width: 100%;
  font-size: 16px;
}

.input-group {
  display: grid;
  grid-template-columns: 1fr 100px;
}
.input-group input {
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}
.grid.two {
  grid-template-columns: repeat(2, 1fr);
}
.grid.three {
  grid-template-columns: repeat(3, 1fr);
}

.flex-row {
  display: flex;
}
.flex-row div:first-child {
  flex: 1;
}
.flex-row div + div {
  text-align: right;
}

.community-section {
  background: url("../img/banner-patio.jpg");
  background-size: cover;
  background-position: center center;
  color: #fff;
  position: relative;
  padding: 100px 0;
  z-index: 0;
}
.community-section .h1 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 0;
}
.community-section:after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
.community-section form {
  max-width: 450px;
  margin-left: auto;
}
.community-section form .row {
  margin: 0 -7px;
}
.community-section form .row .col-md-6,
.community-section form .row .col-md-12 {
  padding: 0 7px;
}
.input-group-control {
  display: flex;
}
.input-group-control input {
  flex: 1;
  height: 46px;
  border-radius: 4px 0 0 4px;
}

.tab-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
}
.tab-list ul li {
  display: block;
}
.tab-list ul li a {
  padding: 10px 10px;
  background: #fff;
  color: #000;
  display: block;
  text-align: none;
  text-align: center;
  transition: 0.2s ease-in-out;
}
.tab-list ul li a:hover {
  text-decoration: none;
  background: #f48460;
  color: #fff;
}
.tab-list ul li + li a {
  border-top: 1px solid #ddd;
}

.header .custom-header {
  margin-bottom: 0;
  border-radius: 0;
  padding-right: 20px;
  background: #000;
}
.header .custom-header .navbar-brand {
  padding: 0;
  margin-top: 10px;
}
.header .custom-header .navbar-brand img {
  width: 225px;
}
.header .custom-header .nav > li {
  padding: 5px 0px;
  position: relative;
}
.header .custom-header .nav > li + li {
  margin-left: 20px;
}
.header .custom-header .nav > li > a {
  background: none;
  color: #fff;
  padding: 15px 0;
  display: block;
  font-size: 14px;
}
.header .custom-header .nav > li.active > a {
  color: #fe4300;
}
.header .custom-header .nav > li:after {
  content: " ";
  position: absolute;
  top: 55px;
  left: 50%;
  width: 0%;
  height: 5px;
  background: #fe4300;
  transition: 0.2s;
}
.header .custom-header .nav > li:hover .dropdown {
  display: block;
}
.header .custom-header .nav > li:hover::after {
  width: 100%;
  left: 0;
}
.header .custom-header .dropdown {
  list-style: none;
  padding: 10px 0;
  background: #000;
  position: absolute;
  left: 0;
  min-width: 200px;
  top: 100%;
  display: none;
}
.header .custom-header .dropdown li {
  display: block;
}
.header .custom-header .dropdown li a {
  padding: 10px;
  display: block;
  color: #fff;
  font-size: 13px;
  text-decoration: none;
}
.header .custom-header .dropdown li a:hover {
  text-decoration: none;
  color: #fe4300;
}

.navbar-fixed-top .fixed-theme.custom-header {
  webkit-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.38);
  -moz-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.38);
  box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.38);
}

.navbar-brand img,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container {
  transition: 0.8s;
  -webkit-transition: 0.8s;
}

.office-location h3 {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  padding-bottom: 18px;
  max-width: 250px;
  font-size: 18px;
}
.office-location address {
  font-size: 18px;
  margin-top: 28px;
}
.office-location .footer-logo img {
  max-width: 250px;
}

.social-icons {
  font-size: 14px;
  margin: 15px 0;
}
.social-icons a i {
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  padding: 5px;
  text-align: center;
  min-width: 16px;
  color: #ffffff;
  background: #000;
  width: 50px;
  height: 50px;
  font-size: 24px;
  line-height: 40px;
  border-radius: 50%;
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
.social-icons a .fa-facebook {
  color: #4161a2;
  background: #fff;
}
.social-icons a .fa-linkedin {
  color: #0279b3;
  background: #fff;
}
.social-icons a .fa-google-plus {
  color: #d1432f;
  background: #fff;
}
.social-icons a .fa-twitter {
  color: #09aeec;
  background: #fff;
}
.social-icons a:hover {
  text-decoration: none;
}
.social-icons a:hover i {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.social-icons a:hover .fa-facebook {
  background-color: #4161a2;
  border-color: #4161a2;
  color: #fff;
}
.social-icons a:hover .fa-linkedin {
  background-color: #0279b3;
  border-color: #0279b3;
  color: #fff;
}
.social-icons a:hover .fa-google-plus {
  background-color: #d1432f;
  border-color: #d1432f;
  color: #fff;
}
.social-icons a:hover .fa-twitter {
  background-color: #09aeec;
  border-color: #09aeec;
  color: #fff;
}
.social-icons a + a {
  margin-left: 15px;
}

.footer-section .container {
  padding: 50px 15px 30px;
}
.footer-section .copyright-section {
  border-top: 1px solid #999;
}
.footer-section .copyright-section .container {
  padding: 0 15px;
}

input.form-control {
  height: 48px;
  line-height: 48px;
}

.card .thumb {
  overflow: hidden;
}
.card .thumb img {
  max-width: 100%;
  transition: 0.3s all ease;
}
.card .thumb img:hover {
  -webkit-transform: scale(1.05);
}
.card .card-title {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  margin: 12px 0 10px;
}
.overview .bold-Title {
  font-size: 30px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 12px 0 10px;
}
.overview .overview-Title {
  font-weight: bold;
  font-size: 18px;
}
.overview p strong {
  font-size: 14px;
}

.window-descript {
  padding: 50px 0;
}

.link {
  color: #fe4300;
}

.primary-section {
  background: url(../../assets/img/home-banner.jpg) left bottom no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  position: relative;
  z-index: 0;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.primary-section:after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.primary-section.default-banner {
  justify-content: center;
  text-align: center;
}

.shortcut-tab {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}
.shortcut-tab a {
  color: #000;
  padding: 30px 10px;
  background: #f0f0f0;
  text-align: center;
  text-decoration: none;
}
.shortcut-tab a:hover {
  text-decoration: none;
  background: #ddd;
}
.shortcut-tab a:last-child {
  background: #fe4300;
  color: #fff;
}

.gallery-shorts {
  padding: 50px 0;
}
.gallery-shorts h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin: 0 0 25px;
}
.gallery-shorts h1 span {
  color: #fe4300;
}
.gallery-shorts .item {
  padding: 0 10px;
}
.gallery-shorts .item img {
  max-width: 100%;
}
.gallery-shorts button {
  display: block;
  margin: 25px auto 0;
}

h1.title1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.list {
  padding-left: 18px;
}

.page-breadcrumb h1 {
  font-size: 48px;
}
.page-breadcrumb p span {
  display: inline-block;
}
.page-breadcrumb p span:after {
  content: "";
  font-family: "fontAwesome";
  display: inline-block;
  margin: 0 5px 0 4px;
  height: 0;
  font-size: 14px;
}
.page-breadcrumb p span:first-child a {
  color: #fe4300;
  font-weight: 600;
}
.page-breadcrumb p span:first-child a:hover {
  color: #fff;
}
.page-breadcrumb p span:last-child {
  pointer-events: none;
}
.page-breadcrumb p span:last-child::after {
  display: none;
}
.page-breadcrumb p a {
  color: #fff;
  text-decoration: none;
  font-size: 21px;
}
.page-breadcrumb p a:hover {
  color: #fe4300;
  text-decoration: underline;
}

/*==================*/
.about-descript .card-title {
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0px;
}

.why-we-choose {
  padding-top: 40px;
  padding-bottom: 10px;
}
.why-we-choose .choose-descript {
  text-align: center;
}
.why-we-choose .choose-descript h1 {
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin-bottom: 20px;
}
.why-we-choose .choose-Trust {
  padding: 25px 0;
}
.why-we-choose .choose-Trust .image-box-wrapper {
  display: table;
  margin-bottom: 15px;
}
.why-we-choose .choose-Trust .image-box-wrapper .descrip {
  display: table-cell;
  vertical-align: top;
  padding: 10px;
}
.why-we-choose .choose-Trust .image-box-wrapper .descrip h4 {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0px;
  margin-bottom: 20px;
}
.why-we-choose .choose-Trust .image-box-wrapper .image-div {
  display: table-cell;
  vertical-align: top;
}
.contact-us h1 {
  color: #222;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 25px;
}
.contact-us address .lite-grey {
  color: #7b7b71;
  font-size: 19px;
}
.contact-us p {
  margin: 30px 0;
}

/*# sourceMappingURL=style.css.map */
